{% extends "layout.html" %}
{% block title %} WEB pg 3{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/flex.css">
{% endblock %}

{% block header %}
<ul class="main-menu">
  <li><a href="http://127.0.0.1:5000/register"><i class="gg-arrow-left-r"></i></a></li>
  <li><a href="/">На главную</a></li>
  <li><i class="gg-arrow-right-r" style="color: transparent"></i></li>
</ul>
{% endblock %}

{% block content %}
<div class = "main">
    <header class = "content-header">
        <div><p>Ссылка 1</p></div>
        <div><p>Ссылка 2</p></div>
        <div><p>Ссылка 3</p></div>
        <div><p>Ссылка 4</p></div>
    </header>
    <main class = "content-main">
        <div class = "cm-element1">
            <p>Верстка web-страницы – это процесс ее формирования по готовому макету.
            Макет создается с использованием графических редакторов, часто в настоящее время
            для этих целей используется приложение Figma, представляющее собой
            кроссплатформенный онлайн-сервис для дизайнеров интерфейсов и
            веб-разработчиков.</p>
        </div>
        <div class = "cm-element2">
            <img src="../static/img/code.png">
            <p>Грамотная верстка должна учитывать различное разрешение мониторов пользователей,
            многообразие браузеров, обеспечивать выделение логических блоков, создавать компактный
            и красивый код. В настоящее время используется блочная верстка. В последние годы
            широкую популярность приобрели технологии Flexbox и CSS Grid.  С их помощью можно
            достаточно просто обеспечить резиновый, адаптивный, а также отзывчивый дизайн.
            Данная лабораторная работа посвящена изучению технологии Flexbox, а также использованию
            медиазапросов, позволяющих перестраивать макет сайта с учетом размера экрана устройства,
            на котором отображается web-страница. Результатом их совместного использования является
            отзывчивый дизайн.</p>
        </div>
        <div class = "cm-element3">
            <p>По высоте можно выравнивать и отдельно взятый элемент. Для этого предназначено свойство align-self, у
            которого возможные значения такие же, как и у свойства align-items. Можно сказать, что свойство align-self
            для конкретного элемента переопределяет значение выравнивания, заданного для flex-контейнера свойством align
            -items. Следует заметить, что если для элемента установлено свойство margin со значением auto, то свойство
            align-self работать не будет. Для того, чтобы применить это свойство к конкретному flex-элементу,
            расположенному во flex-контейнере, можно, определяя CSS стиль данного элемента, использовать следующую форму записи:</p>
        </div>
    </main>
    <footer class = "content-footer">
        <div><p>Телефон: +7(123)456-78-90</p></div>
        <div><p>Адрес: 190000б ул. Б.Морская, д.67</p></div>
    </footer>
</div>
{% endblock %}

{% block footer %}
<div class = "footer">
    <ul class="main-menu">
        <li><a href="#start">В начало</a></li>
    </ul>
</div>
{% endblock %}