{% extends "layout.html" %}
{% block title %}Web Lab 6{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
{% endblock %}

{% block header %}
    <ul class="main-menu">
        <li><a href="http://127.0.0.1:5000/labs/part-five"><i class="gg-arrow-left-r"></i></a></li>
        <li><a href="/">На главную</a></li>
        <li><a href="http://127.0.0.1:5000/labs/part-seven"><i class="gg-arrow-right-r"></i></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="grid-wrapper-table">
            <header> Навигационная панель</header>
            <div class="article" style="text-align: left">
                <h1>Основные понятия Grid Layout</h1>
                <p>Грид-раскладка (CSS Grid Layout) представляет собой двумерную систему сеток в CSS. Гриды подойдут и
                    для
                    верстки основных областей страницы, и небольших элементов пользовательского интерфейса. Эта статья
                    даёт
                    общее представление о грид-раскладке и новой терминологии, которая является частью спецификации CSS
                    Grid
                    Layout Level 1. Более подробно показанные возможности будут описаны описаны далее в руководстве.</p>
                <h2>Что такое грид?</h2>
                <p>Грид представляет собой пересекающийся набор горизонтальных и вертикальных линий, образующих колонки
                    и
                    строки. Элементы могут быть помещены в грид в пределах линий этих колонок и строк.</p>
                <h3>Фиксированные и гибкие размеры полос</h3>
                <p>Вы можете создать грид с фиксированными размерами полоc, например используя пиксели. Это установит
                    грид
                    на определенный пиксель, соответствующим желаемому макету. Вы также можете создать грид с гибкими
                    размерами, используя проценты или новую единицу измерения — «fr», разработанную для этой цели.</p>
            </div>
            <div class="img-1"><img src="../static/img/HTML5.png" alt=""></div>
            <div class="img-2"><img src="../static/img/CSS3.png" alt=""></div>
            <div class="img-3"><img src="../static/img/JS.png" alt=""></div>
            <div class="img-4"><img src="../static/img/IE.png" alt=""></div>
            <footer>Контакты</footer>
        </div>
        <div class="grid-wrapper-area">
            <header> Название сайта</header>
            <div class="menu">Меню</div>
            <div class="art" style="text-align: left"><h3>Статья про grid-template-areas</h3>
                <p>Свойство grid-template-areas определяет шаблон сетки ссылаясь на имена областей,
                    которые заданы с помощью свойства grid-area.
                    Повторение названия области приводит к тому, что содержимое охватывает эти ячейки.
                    Точка означает пустую ячейку. Сам синтаксис предоставляет визуализацию структуры сетки.</p>
                <p>У каждой строки должно быть одинаковое количество ячеек. Вы можете использовать любое количество
                    примыкающих
                    для объявления пустых ячеек. Пока между точками нет пробелов, они представляют одну ячейку.
                    Обратите внимание на то, что вы никак не называете линии, только области. Когда вы используете такой
                    синтаксис,
                    линии на обоих концах областей будут именоваться автоматически. Если ваша область называется foo,
                    то название первых линий для строк и столбцов будет foo-start, а название для последних линий строк
                    и столбцов будет foo-end. Это означает, что у некоторых линий может быть несколько имён, как нашем
                    случае,
                    у самой левой линии будет три названия: header-start, main-start, и footer-start.</p>
            </div>
            <footer>Контакты</footer>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <ul class="main-menu">
            <li>Подвал</li>
        </ul>
    </div>
{% endblock %}