{% extends "layout.html" %}
{% block title %} WEB pg 1{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/lab.css">
 <style>
        .main_group {
            margin: 25px auto;
            width: 60%;
            height: 60%;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            background-color: white;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        .left-column {
            width: 50%;
            margin-right: 5rem;
            margin-left: 5rem;
            letter-spacing: 0.1rem;
            word-spacing: 0.2rem;
        }
        .right-column {
            width: 50%;

        }
        .parts {
            margin-bottom: 1rem;
        }
        .img_container {
            margin-top: 2rem;
            justify-content: center;
        }

        .other {
            margin: 25px auto;
            width: 60%;
            height: 60%;
            display: flex;
            flex-direction: row;
            background-color: white;
            border-radius: 30px;
        }

        .other:hover {
            box-shadow: 0 8px 16px 0 #27273c;
        }

        .lower-header {
            width: 100%;
            text-align: center;
            height: 60px;
            background: #27273c;
        }
    </style>
{% endblock %}

{% block header %}
<ul class="main-menu">
  <li><a href="/">На главную</a></li>
  <li><a href="/labs/page-two"><i class="gg-arrow-right-r"></i></a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Лабораторная работа по Web-технологиям</h1>
<div class="main_group">
    <div class = "left-column">
        <h2>Федор Тютчев - "<sup>Зима</sup> недаром <sub>злится...</sub>"</h2>
        <div class = "parts" style="text-align: left; text-decoration: underline red; text-indent: 30px;">
            Зима недаром  злится,<br>
<!--            <img style="width: 25%; height: auto" src="https://dictants.com/uploads/fotos/sochinenie-na-temu-zima.jpg"><br>-->
            Прошла ее пора —<br>
            Весна в окно стучится<br>
            И гонит со двора.<br>
        </div>
        <div class = "parts" style="text-align: center; text-decoration: line-through blue; text-transform: uppercase">
            И все засуетилось,<br>
            Все нудит Зиму вон —<br>
            И жаворонки в небе<br>
            Уж подняли трезвон.<br>
        </div>
        <div class = "parts" style="text-align: right; text-decoration: overline; text-transform: lowercase">
            Зима еще хлопочет<br>
            И на Весну ворчит.<br>
            Та ей в глаза хохочет<br>
            И пуще лишь шумит…<br>
        </div>
        <div class = "parts" style="text-align: center" >
            Взбесилась ведьма злая<br>
            И, снегу захватя,<br>
            Пустила, убегая,<br>
            В прекрасное дитя…<br>
        </div>
        <div class = "parts" style="text-align: left; text-indent: 30px;">
            Весне и горя мало:<br>
            Умылася в снегу,<br>
            И лишь румяней стала,<br>
            Наперекор врагу.<br>
        </div>
    </div>
    <div class="right-column">
        <div class="img_container">
            <img style="height: 400px; width: auto;" alt="Здесь должно быть изображение" src="../static/img/portrait.jpg">
        </div>
        <a target="blank" href="/labs/page-two">
            <blockquote style="text-shadow: #CC0000 1px 0 10px;">
                Умом Россию не понять, аршином общим не измерить: у ней особенная стать — в Россию можно только верить.
            </blockquote>
        </a>
        <p><i>Фёдор Иванович Тютчев</i></p>
    </div>
</div>

<div class = "other">
    <div class = "fromatted" style="width: 50%">
        <pre>
        Математика     10.01    09.00    ауд.23-17
        Физика         14.01    14.00    ауд.23-17
        Химия          18.01    09.00    ауд.23-17</pre>
    </div>
    <div class = "lists" style="width: 50%; text-align: left">
        <ol>
        <li>Орехи
            <ul>
                <li>Миндаль</li>
                <li>Фисташки</li>
                <li>Кешью</li>
                <li>Фундук</li>
            </ul>
        </li>
        <li>Крупы
            <ul>
                <li>Гречневая крупа</li>
                <li>Кукурузная крупа</li>
                <li>Овсяная крупа</li>
                <li>Пшено</li>
            </ul>
        </li>
        </ol>
    </div>
</div>

<div class = "lower-header">
    <ul class="main-menu">
    <li><a target="blank" href="/labs/page-two#code_example">Переход к примеру кода</a></li>
    <li><a target="blank" href="mailto:bobbygoop@yandex.ru">Написать автору</a></li>
    <li><a href="../static/files/readme.txt">Скачать методические рекомендации</a></li>
    </ul>
</div>

{% endblock %}