{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .container {
            height: 750px;
            width: 1600px;
            margin: 0 auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 10px;
        }

        #info {
            width: 20%;
            text-align: left;
        }

        #info, #btn-execute, #btn-clear {
            margin: 20px auto;
        }
    </style>
{% endblock %}

{% block header %}
    <ul class="main-menu">
        <li><a href="/">На главную</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="info">Итоговое время:</div>
        <button id="btn-clear">Очистить</button>
        <button id="btn-execute">Рассчитать маршрут</button>
    </div>
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-selection-multi.v1.js"></script>
    <script type="text/javascript" src="../static/js/dijkstra.js"></script>
    <script type="text/javascript" src="../static/js/graph.js"></script>
{% endblock %}