{% extends "layouts/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block style %}

{% endblock %}
{% block head %}
  {{ super() }}
    <style>
      circle {
          fill: white;
          stroke-width: 0.5px;
          stroke: black;
      }
      line {
        stroke: black;
        stroke-width: 1px;
      }
      svg {
        display: block;
        margin-left: auto;
        margin-right: auto
      }
    </style>
{% endblock %}

{% block header %}
  <ul class="mainmenu">
    <li><a href="/">На главную</a></li>
  </ul>
{% endblock %}

{% block content %}
  <svg ></svg>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script type="text/javascript" src="/static/js/binary.js"></script>
{% endblock %}
