{% extends "layouts/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
  <ul class="mainmenu">
    <li><a href="/tree-dynamic">Дерево с анимацией</a></li>
    <li><a href="/graph">Карта метро</a></li>
    <li><a href="/tree-binary">Бинарное дерево</a></li>
    <li><a href="/register">Регистрация</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="container"></div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="/static/js/app.js"></script>
{% endblock %}
