{% extends "layouts/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-1"><a href="/tree-dynamic">Tree Example</a></div>
      <div class="col-2"><a href="/graph">Metro map</a></div>
      <div class="col-3"><a href="/tree-binary">Binary tree</a></div>
    </div>
  </div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="/static/js/app.js"></script>
{% endblock %}
