{% extends "layouts/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/card.css">
{% endblock %}

{% block header %}
  <ul class="mainmenu">
    <li><a href="/">На главную</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="container">
        <div class="card">
            <div class="info">
                <div class="inputs">
                  {% for cat, msg in get_flashed_messages(True) %}
                  <div class="flash {{cat}}">{{msg}}</div>
                  {% endfor %}
                  <form action="" method="post" class="form-contact">
                  <p><label>Имя: </label> <input type="text" name="name" value="" required />
                  <p><label>Возраст: </label> <input type="text" name="old" value="" required />
                  <p><label>Город: </label> <input type="text" name="city" value="" required />
                  <p><label>Email: </label> <input type="text" name="email" value="" required />
                  <p><label>Пароль: </label> <input type="password" name="psw" value="" required />
                  <p><label>Повтор пароля: </label> <input type="password" name="psw2" value="" required />
                </div>
                <div class="register">
                    <button>Purchase</button>
                </div>
            </div>
        </div>
    </div>
    <script type = "text/javascript">
      //Movement Animation to happen
      const card = document.querySelector(".card");
      const container = document.querySelector(".container");

      //Moving Animation Event
      container.addEventListener("mousemove", (e) => {
        let xAxis = (window.innerWidth / 2 - e.pageX) / 15;
        let yAxis = (window.innerHeight / 2 - e.pageY) / 15;
        card.style.transform = `rotateY(${xAxis}deg) rotateX(${yAxis}deg)`;
      });
      //Animate In
      container.addEventListener("mouseenter", (e) => {
        card.style.transition = "none";
      });
      //Animate Out
      container.addEventListener("mouseleave", (e) => {
        card.style.transition = "all 0.5s ease";
        card.style.transform = `rotateY(0deg) rotateX(0deg)`;
      });
    </script>
{% endblock %}

{% block bg %}
      <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
      </div>
{% endblock %}