html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.clear {clear: both;}

header {
    text-align: center;
    height: 60px;
    background: #3F4137;
}

ul.mainmenu {
    display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;

}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

div.content {
	 margin: auto;
	 text-align: center;
}

.form-contact {
    display: inline-block;
    width: 350px;
    text-align: right;
}

.form-contact label {
	min-width: 80px;
}

.form-contact p {
    margin: 10px 0 10px 0;
}

.form-contact input {
    margin-left: 10px;
}

.form-contact input[type=submit], textarea {
    font-size: 16px;
}

.form-contact .invalid {
	background: #FF9898;
}
.form-contact .invalid-feedback {
	color: #CC0000;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}

.xAxis path,
.xAxis line {
  stroke: teal;
  shape-rendering: crispEdges;
}
.xAxis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: teal;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
