html, body {
	margin: 0;
	padding: 0;
	width: 100%;
  background-image: linear-gradient(to top, #fdc073 60px, #27273c 90%);
}

.content-wrap {
  position: relative;
  min-height: 100vh;
  height: fit-content;
}

a {
	color: #0059b2;
	text-decoration: none;
}

a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.clear {clear: both;}

div.header {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #27273c;
    z-index: 3;
}


div.content {
    top: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    margin: auto;
    display: flex;
    flex-direction: column;
}

ul.main-menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;

}
ul.main-menu li {
	float: left;
	margin: 18px 40px 0 50px;
}

ul.main-menu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.main-menu li a:hover {
	color: #FDA83D;
}



